<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>uvalib-catalog Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../uvalib-catalog.html">
    <link rel="import" href="../uvalib-catalog-availability.html">
  </head>
  <body unresolved>

<demo-snippet id="demo">
  <template>

    <template is="dom-bind" id="app">

      <uvalib-catalog id="catalog" items="{{items}}" auto
          item-id="008923770"></uvalib-catalog>

      <h1>{{items.0.title}}</h1>
      <dl>
        <dt>Format</dt><dd>{{items.0.format}}</dd>
        <dt>Id</dt><dd>{{items.0.id}}</dd>
      </dl>

    </template>

  </template>
</demo-snippet>

<demo-snippet id="demo">
  <template>

    <template is="dom-bind" id="app">

      <uvalib-catalog-availability id="availability" item="{{item}}"
            item-id="u4443298" holdable="{{holdable}}"></uvalib-catalog-availability>

      <h1>{{item.title}}</h1>
      <dl>
        <dt>Format</dt><dd>{{item.format}}</dd>
        <dt>Id</dt><dd>{{item.id}}</dd>
        <dt>holdable</dt><dd>{{holdable}}</dd>
      </dl>

    </template>

  </template>
</demo-snippet>

  </body>
</html>
